/**
*
* Breadcrumb
*
**/

.breadcrumbs {
  display: none;
  position: relative;
  z-index: 1;
}

.breadcrumbs p {
  padding-top: var(--lineHeight);
}

.breadcrumbs__link {
  // @include type--small; // .u-textSmall
  color: black;
  font-weight: 400;
  padding-top: 0;
  // @include medium {
  //   padding-top: 0;
  // }
}
