/**
 * utils-list
 */

/* Definition lists
   ========================================================================== */

/**
 * Remove default styling
 */

.u-dlUnstyled > dd {
  margin-left: 0;
}

/**
 * Display definition lists inline
 */

.u-dlInline dt,
.u-dlInline dd {
  display: inline-block;
  margin-left: 0;
  margin-right: 3px;
}

/* Standard lists
   ========================================================================== */

/**
 * Remove default styling
 */

.u-listUnstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/**
 * Display list items inline
 **/

.u-listInline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.u-listInline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
