<header class='u-z200 u-sizeFullHeight Banner {{ metaMindset }} {{ metaPalette }}' role='banner'>
  <div class='u-pullBottom'>

    <div class='_site-width'>
      <div class='_copy-width'>

        <h1 class="">{{ heading }}</h1>

      </div>
    </div>

  </div>

  <div class='u-bottomRight'>
    <a class='u-linkClean' href="#content" data-scroll >
      <i class="icon ion-chevron-down"></i>
    </a>
  </div>

</header>
