html, body {
  height: 100%;
}

.__page-container {
  height: 100%;
}

.__content-container {
  position: relative;
  z-index: var(--zIndex-2);
/*  height: 100%;*/
  margin-bottom: 0;
  background-color: #FFF;
}

.__content {
  extend: .clearfix;
  margin: 0 auto;
/*  height: 100%;*/
}



